*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}

body{
    background: url(download.jpg);
}

nav{
    color: aqua;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(8px);
}

.navbar-brand{
    color: pink;
}

.nav-link{
    color: aquamarine;
}

form{

    position: relative;
    padding: 10px;
    margin: 10px 50px;
}

#name{
    position: absolute;
    left: 150px;
}

#nameDiv{
    margin-bottom: 10px;
}

#Ph-No{
    position: absolute;
    left: 150px;
}

#Ph-No-Div{
    margin-bottom: 10px;
}

#inputNum{
    position: absolute;
    left: 150px;
}


#num-box{
    margin: 20px auto;
    width: 1055px;
}

.num{
    width: 50px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    display: inline;
    background-color: rgb(16, 194, 194);
    margin: 1px;
    
}